<script setup lang="ts">
import HelloWorld from "../components/HelloWorld.vue";
</script>

<template lang="pug">
img(
  src="@/assets/img/logo.png"
  alt="Vue logo"
  loading="lazy"
)
HelloWorld(:msg="'Hello Vue 3 + Pinia + Vue Router + TypeScript + Vite'")
</template>
