<script setup lang="ts">
import { useStore } from "@/store/counter";

defineProps<{ msg: string }>();

const counterStore = useStore();
</script>

<template lang="pug">
h1 {{ msg }}
p
  a(href='https://vitejs.dev/guide/features.html' target='_blank')
    | Vite Docs
  |     |
  a(href='https://v3.vuejs.org/' target='_blank') Vue 3 Docs
button(type='button' @click='counterStore.counter += 1') Increment
button(type='button' @click='counterStore.counter -= 1') Decrement
div count is: {{ counterStore.counter }}
p
  | Edit
  code components/HelloWorld.vue
  |  to test hot module replacement.

</template>

<style scoped lang="sass">
a
  color: #42b983

label
  margin: 0 0.5em
  font-weight: bold

code
  background-color: #eee
  padding: 2px 4px
  border-radius: 4px
  color: #304455
</style>
