=min-w($w)
  @media screen and (min-width: $w)
    @content

=verticalScrollbar($barWidth, $barColor, $barThumbColor)
  scrollbar-color: $barThumbColor $barColor
  scrollbar-width: thin

  &::-webkit-scrollbar
    width: $barWidth

  &::-webkit-scrollbar-track
    background: $barColor

  &::-webkit-scrollbar-thumb
    border-radius: 0
    background: $barThumbColor
