<script setup lang="ts"></script>

<template lang="pug">
nav
  router-link(to="/") Home
  | |
  router-link(to="/about") About

router-view
</template>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #000000
  margin-top: 60px

nav
  padding: 30px

nav a
  margin: 0 5px
  font-weight: bold
  color: #2c3e50

nav a.router-link-exact-active
  color: #42b983
</style>
